<!DOCTYPE html>
<html>  
    <head>
        <title>LDAP 기반 웹 애플리케이션</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
            #reg input{
                margin-bottom: 5px;
            }
        </style>    
    </head>
    <body>
        <div >
        <h1>회원 생성</h1>

        <input type="radio" id="LDAP_Attribute" name="ou" onclick="window.location='/ou/add/web?dn=<%-dn%>';"/> 조직 (Ou) <br>
        <input type="radio" id="LDAP_Attribute" name="group" onclick="window.location='/group/add/web?dn=<%-dn%>';"/> 그룹 (Posix Group)<br>
        <input type="radio" id="LDAP_Attribute" name="user" onclick="window.location='/user/add/web?dn=<%-dn%>';" /> 유저 (User) <br>
        <h2><%- dn %></h2>
        </div>

    </body>
</html>
