<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      #reg input{
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
      <%-include("../layout/header") %>
    <h1>조직 생성</h1>
    <div id="reg">
      <form action="/ou/add" method="post">
        조직이름 <input type="text" name="ouname" style="margin-left: 38px"> <br>
        <input type="hidden" name="oudn" value="<%-dn%>" > <br>
        <input type="submit" value="생성" class="button">
      </form>
    </div>
    <%-include("../layout/footer") %>
  </body>
</html>
