<!DOCTYPE html>
<html>  
    <head>
        <title>LDAP 기반 웹 애플리케이션</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <style>
            #reg input{
                margin-bottom: 5px;
            }
        </style>    
    </head>
    <body>
        <h1>회원 생성</h1>
        <h2><%- dn %></h2>
    </body>
</html>
