<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LDAP 기반 웹 애플리케이션</h1>
    <a href = "/other/all">모든 디렉토리 정보</a>
  </body>
</html>
