<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LDAP 기반 웹 애플리케이션</h1>
    <a href = "/user/add">회원 생성</a><br/>
    <a href = "/other/all">회원 정보 가져오기</a>
  </body>
</html>
