<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="StyleSheet" href="stylesheets/dtree.css" type="text/css" />
	<script type="text/javascript" src="javascripts/dtree.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="dtree">

        <p><a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a></p>

        <script type="text/javascript">
            var beforeStr = "02,123,4567";
            var afterStr = beforeStr.split(',');

            var d = new dTree('d');
            d.add(0,-1,'dc = example, dc = org');
            d.add(1,0,'cn = admin');
            d.add(2,0,'ou = groups');
            d.add(3,2,'cn=dev');
            d.add(4,0,'ou = users');
            d.add(5,4,'cn = kim');
    
            document.write(d);
            
        </script>
    </div>    
</body>

</html>
