<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="StyleSheet" href="stylesheets/dtree.css" type="text/css" />
	<script type="text/javascript" src="javascripts/dtree.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="dtree">

        <p><a href="javascript: d.openAll();">open all</a> | <a href="javascript: d.closeAll();">close all</a></p>
    
        <script type="text/javascript">
            d = new dTree('d');
    
            d.add(0,-1,'dc = example, dc = org');
            d.add(1,0,'cn = admin');
            d.add(2,0,'ou = groups');
            d.add(3,2,'cn=dev');
            d.add(4,0,'ou = users');
            d.add(5,4,'cn = KimYoungseo');
            // d.add(1,0,'Node 1','example01.html');
            // d.add(2,0,'Node 2','example01.html');
            // d.add(3,1,'Node 1.1','example01.html');
            // d.add(4,0,'Node 3','example01.html');
            // d.add(5,3,'Node 1.1.1','example01.html');
            // d.add(6,5,'Node 1.1.1.1','example01.html');
            // d.add(7,0,'Node 4','example01.html');
            // d.add(8,1,'Node 1.2','example01.html');
            // d.add(9,0,'My Pictures','example01.html','Pictures I\'ve taken over the years','','','img/imgfolder.gif');
            // d.add(10,9,'The trip to Iceland','example01.html','Pictures of Gullfoss and Geysir');
            // d.add(11,9,'Mom\'s birthday','example01.html');
            // d.add(12,0,'Recycle Bin','example01.html','','','img/trash.gif');
    
            document.write(d);
        </script>
    
    </div>    
</body>

</html>
