<!DOCTYPE html>
<html>
  <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>회원 생성</h1>
    <form action="/user/add" method="post">
      성 : <input type="text" name="gn">
      이름 : <input type="text" name="sn">
      그룹번호 : <input type="text" name="gidNumber">
      유저번호 : <input type="text" name="uidNumber">
      비밀번호 : <input type="password" name="password">
    </form>
  </body>
</html>
