<!DOCTYPE html>
<html>
    <head>
    <title>LDAP 기반 웹 애플리케이션</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>

        <h1>ou = <%-entry.ou %></h1>
        
        <div>
            ou : <%-entry.ou %> <br>
            objectClass : <%-entry.objectClass %> <br>
        </div>
        <button onclick="deleteButton('<%-entry.ou%>')" id="deleteButton">삭제하기</button> <br>
        <script>
            let deleteButton = (ou) => {
                console.log("에이젝스 delete  " +ou);
                $.ajax({
                    url: '/ou/'+ou,          
                    dataType: 'json',                
                    type: 'DELETE',
                    data : {},
                        success: (result) => {
                            if(result['result'] == true){
                                alert("성공");
                                location.href="/other/web";
                            }else{
                                alert("실패");
                            }
                        } 
                        }); 
            }
        </script>
        <a href="/">메인으로</a>
    </body>
</html>
