<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
	.footer {
		width: 80%;
		height: 150px;
		margin: 0 auto ;
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		margin-top: 30px;
	}

	</style>
</head>
<body>
	<div class="footer">
		copylight by KimYoungseo
	</div>
</body>
</html>
