<style>
	.header {
		width: 80%;
		height: 150px;
		display: block;
		margin: 0 auto;
	}
</style>
<body>
	<div class="header">
		<a href="/">
			<img src="/images/markanylogo.png" alt="df">
		</a>
	</div>
</body>
